@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@model MultRH_MVC.Models.ViewModels.Client

<section class="d-flex align-items-center py-4">
    <main class="w-100 m-auto">
        <form asp-action="Create" method="post">
            <div class="form-floating">
                <input class="form-control" id="floatingInput" placeholder="Nome completo" />
                <label asp-for="Nome">Nome</label>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input class="form-control" id="floatingInput" placeholder="seuemail@gmail."/>
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input class="form-control" id="floatingInput" placeholder=""/>
                <label asp-for="Telefone"></label>
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>

            <div class="botao mw-100" style="background-color: blue">
                <a asp-area="" asp-controller="Payment" asp-action="Payment">Cadastrar</a>
            </div>

            @section Scripts {
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
            }
        </form>
    </main>
</section>

